body {
    background-color: rgb(0, 52, 168);
    color: white;
    font-family: 'Permanent Marker', cursive;
}

.flex-container{
    display: flex;
    /* flex-direction: row; */
    align-content: center;
    margin-top: 5vh;
    max-width: 60vw;
    margin-left: auto;
    margin-right: auto;
}

.flex-left {
    width: 60%;
}

.flex-right{
    width: 40%;
}

h1, input, a {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
}

h1 {
    font-size: 3rem;
}

a {
    border: 2px solid white;
    border-radius: 5px;
    padding: .5rem;
    box-shadow: 0 0 10px #ffffff;
    margin: 1rem auto;
    text-transform: uppercase;
    font-size: 1.2rem;
    cursor: pointer;
    display: block;
    width: 100px;
}

input {
    margin: 2rem auto;
    display: block;
    font-size: 1rem;
    width: 300px;
}

img {
    display: block;
    margin: 0 auto;
}

.benPiano {
    width: 30vw;
    min-width: 325px;
    max-width: 600px;
}

#albumImage {
    max-width: 300px;
    margin-left: 1rem;
}

#albumCaption {
    text-align: center;
}

ul {
    margin-top: 6vh;
}

ul li {
    font-size: 1.3rem;
}

@media screen and (max-width: 900px) {
    .flex-container {
        flex-direction: column;
        max-width: 80vw;
    }

    .flex-left {
        width: 100%;
    }
    
    .flex-right{
        width: 100%;
        align-self: center;
    }
    ul {
        margin-top: 0;
    }
    #albumImage {
        margin-top: 1.5rem;
    }
}

@media screen and (max-height: 900px) {
    .benPiano {
        width: 15vw;
    }
}